{% extends "layout.html" %}
{# <!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>{{ title }}</title>
    {#
    <title>Hello Flask</title> 
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">#}
    <link rel="stylesheet" type="text/css" href="/static/site.css" />
</head>
<body>
    <div><a href="about">About</a></div> #}
    {% block content %}
    <span class="message">{{ message }}</span>{{ content }}
    {#{{ content }}
</body>
</html>#}
{% endblock %}